test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8035ceec-7a22-40b6-9316-73fa2bf915b2" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="43ec7897-cb3a-41c7-ad05-a4f40d572e58" />
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="04919ad5-f4f5-410d-9343-4d86b0388360" >
		<vm:queues >
			<vm:queue queueName="myq" />
		</vm:queues>
	</vm:config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c7aba44c-0cd6-446c-90f7-88ab44498078" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="testFlow" doc:id="31c4e9be-95a8-48b9-a1d9-8bd501f20906" >
		<http:listener doc:name="Listener" doc:id="5cc124af-9245-455e-afd0-75bd281c0b2d" config-ref="HTTP_Listener_config" path="sample"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="8234e3a7-1ef9-4f75-9a24-f872cb5ed415" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="3da3a444-dbd1-4d1f-a6ea-2b2384441710" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="07059f64-bd85-41d4-9d06-dff0e1b7164e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="3f2c2e9e-e919-4ba7-bfc7-00c273697b64" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="8eebf374-a2c6-4ff9-9f33-a1767ccf19cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="94f164c2-f698-47c7-8f27-56cece9f713b" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="7d35504c-61a2-45ba-a163-9b8230320897" message="new message"/>
	</flow>
</mule>
